@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply box-border text-white bg-black;
  scroll-behavior: smooth;
  scrollbar-color: rgb(121, 121, 121) rgb(61, 61, 61);
  scrollbar-width: thin;
  scroll-padding: 5rem;
}

.ball-transitions {
  transition: opacity 0.2s, transform 0.1s;
}

#cursor {
  @apply bg-white transition-opacity ml-1 self-center;
  width: 2px;
  height: 15px;
  -webkit-animation: blink 1s infinite;
}

@-webkit-keyframes blink {
  0% {
    background: rgba(0, 0, 0, 0);
  }
  50% {
    background: rgba(255, 255, 255, 1);
  }
  100% {
    background: rgba(0, 0, 0, 0);
  }
}

.tech-item {
  opacity: 0;
  transform: translateY(-20px);
  transition: all 400ms ease-in;
}

.tech-item-visible {
  opacity: 1;
  transform: translateY(0);
}

.bg\-grad-anim {
  background-size: 200%;
  animation: bg-pos-mov 3s linear infinite;
}

@keyframes bg-pos-mov {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 200%;
  }
}

::selection {
  @apply bg-blue-500 text-white;
}

/* 
@media only screen and (max-width: 1024px) {
  #ball-canvas {
    display: none !important;
  }
} */
